#container
{
	width:1300px;
	height:700px;
}
#header
{
	width:1300px;
	float:left;
	background-color:#2E9AFE;
}
#links
{
	width:150px;
	height:550px;
	float:left;
	background-color:#58D3F7;
}
#content
{
	width:1150px;
	height:550px;
	float:left;
	background-color:#E0F8F7;
}
h1
{
	margin-left:10px;
	margin-bottom:5px;
	margin-top:5px;
}
a
{
	margin-left:10px;
	margin-top:5px;
	margin-bottom:5px;
}
